/* Write your CSS here */
.team-card-container {
  border: 1px solid #475569;
  background-color: #475569;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.team-card-image {
  width: 70px;
  height: 100px;
}
.ipl-team-card-name {
  font-family: 'Bree Serif';
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
  color: #ffffff;
}
