/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  min-height: 100vh;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}
.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.ipl-logo {
  width: 40px;
  height: 50px;
}
.ipl-head {
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  font-family: 'Bree Serif';
  margin-left: 20px;
}
.team-cards-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
